<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
      <button
        type="button"
        class="navbar-toggler"
        (click)="collapsed = !collapsed"
      >
        <i class="fa fa-bars" aria-hidden="true"></i>

        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
    </div>
    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="is-active">
          <a class="nav-link" routerLink="/recipes">Recipes</a>
        </li>
        <li class="nav-item" routerLinkActive="is-active">
          <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            style="cursor: pointer"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Manage
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" style="cursor: pointer">Save Data</a>
            </li>
            <li>
              <a class="dropdown-item" style="cursor: pointer">Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
